<%= form_for (@song), :url => songs_path, :html => { :multipart => true }  do |f| %>
  
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div >
    <%= select :singer_id,:id, Singer.all.collect {|p| [ p.first_name, p.id ] }, { include_blank: true }  %>
    </div>
  <div class = "field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.file_field :audio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
