<ul class="nav nav-pills">
    
    <% if user_signed_in? %>
  <li class="active"><%= link_to 'Home', singers_path %></li>
  <li><%= link_to 'Edit', edit_user_registration_path %></li>
  <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
    
    <% else if admin_signed_in? %>
  <li class="active"><%= link_to 'Home', singers_path %></li>
  <li><%= link_to 'Edit', edit_admin_registration_path %></li>
  <li> <%= link_to 'Logout', destroy_admin_session_path, :method => :delete %> </li>
    
  <% else %>
    <li> <%= link_to 'User Login', new_user_session_path , :class => 'btn btn-link' %> </li>
    <li> <%= link_to 'Admin Login', new_admin_session_path , :class =>"btn btn-link" %> </li>
    <% end %>
      
  <% end %>
</ul>